.hero-image-contact {
  background-image: url("../../../Images/contact-us.png");
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon-contact {
  font-size: 50px;
  color: #ca7f3c;
  margin-right: 30px;
}
.bar-contact {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.bar-contact > p {
  font-size: 17px;
}
.group-bar-contact {
  margin-top: 60px;
}
.font-label {
  font-size: 17px;
  text-decoration: none;
  color: #707070;
  font-weight: 500;
}
.form-control {
  border-radius: 0px;
}
.group-input-1 {
  display: flex;
}
