.bar-category {
  height: 40px;
  align-items: center;
  display: flex;
  border-radius: 5px;
  margin: 3px;
  border: 1px solid rgb(194, 194, 194);
  color: #007049;
  transition: 0.2s;
}
.bar-category:hover {
  height: 40px;
  align-items: center;
  display: flex;
  border-radius: 5px;
  margin: 3px;
  border: 1px solid rgb(194, 194, 194);
  color: white;
  background-color: #007049;
  transition: 0.2s;
}
.bar-category > h4 {
  margin-left: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
}
