.box-style-home > img {
  height: 100px;
  min-width: 150px;
  object-fit: cover;
  transition: 0.2s;
}
.box-style-home > img:hover {
  height: 100px;
  width: 150px;
  object-fit: cover;
  transform: scale(1.1);
  transition: 0.2s;
}
.box-style-home {
  margin-top: 20px;
  display: flex;
  background-color: #f4f4f4;
  transition: 0.2s;
}
.box-style-home:hover {
  margin-top: 20px;
  display: flex;
  background-color: #d4d4d4;
  transition: 0.2s;
}
.content-style-home {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}
.content-style-home > h3 {
  font-size: 18px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.content-style-home > p {
  font-size: 15px;

  color: rgb(136, 136, 136);
}
.decor-box-style-home {
  height: 100px;
  width: 50px;
  background-color: #326a09;
  display: flex;
  align-items: center;
  color: white;
  transition: 0.2s;
}
.decor-box-style-home:hover {
  height: 100px;
  width: 50px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  color: #326a09;
  transition: 0.2s;
}
.decor-box-style-home > p {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;

  transform: rotate(-90deg);
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.limit-txt-name-style {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}