.hero-image-about{
    background-image: url("../../../Images//hero-image-about.png");
  
   height: 70vh;
   background-repeat: no-repeat;
   background-size: cover;

}
.img-pic-about-1{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.img-pic-about-2{
    width: 100%;
    height: 300px;
    object-fit: cover;
}